body {
    font-family: Archivo;
}

.bancoInfoExtra {
  margin-left: 200px;
}

.globalNavBarBanco {
  position: relative;
  z-index: 6;
}

.pageTitle {
  color: #FF0100;
  margin-top: 20px;
  margin-bottom: 20px;
}

.puntosClave {
  margin-bottom: -25px;
}

.tutorialesCards {
  margin-left: 200px;
  margin-bottom: -25px;
}