#upperNavButtons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.upperNavButton {
  border: 2px solid #dddee1;
  border-radius: 50%;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
}

.upperNavButton img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#profileButton img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}