.masNoticiasGeneral {
  padding-left: 20px;
}

.titleMas {
  color: #A4A7AE;
  margin-bottom: 20px;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.noticia1,
.noticia2,
.noticia3,
.noticia4 {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

.imgNoticia img {
  width: 90px;
  height: 58px;
  object-fit: cover;
  border-radius: 6px;
}

.titleNoticia {
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.diaNoticia {
  font-family: Archivo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #A4A7AE;
}
