#enQueVoyPage {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Archivo', sans-serif;
  background-color: #fff;
}

#enQueVoyPage p {
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#enQueVoyPage .page-content {
  margin-left: 13vw;
  padding: 2.5rem 3rem;
  width: calc(100vw - 13vw);
  box-sizing: border-box;
  overflow-y: auto;
}

#enQueVoyPage .title {
  margin-bottom: 10px;
  margin-top: 10px;
}

#enQueVoyPage .page-title {
  color: var(--Secondary-color-Red, #FF0100);
  font-family: Archivo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 0.25rem;
}

#enQueVoyPage .title p {
  color: var(--Neutral-colors-700, #414651);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

#enQueVoyPage .subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#enQueVoyPage .subtitle h3 {
  color: var(--Neutral-colors-700, #414651);
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

#enQueVoyPage .subtitle p {
  color: var(--Neutral-colors-600, #535862);
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

#enQueVoyPage .progress-timeLine {
  margin: 1.5rem 0 3rem 0;
}

.progresoC h2 {
  color: var(--Neutral-colors-700, #414651);
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

#enQueVoyPage .progressSection {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

#enQueVoyPage .construction-progress {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 350px;
}

#enQueVoyPage .construction-steps {
  flex: 1;
}