#bannerStatementContainer {
  top: 0;
  left: 200px;
  width: 100%;
  height: 248px;
  flex-shrink: 0;
  background-color: #8f8989;
  z-index: -1;
}

#bannerStatement {
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: -40px;
  z-index: -1;
  /* width: calc(100% - 240px); */
  /* left: -10px; */
}



#statementTextContent {
  margin-left: 80px;
}

#statementTitle {
  color: var(--Neutral-colors-25, #FFF);
  font-family: Archivo;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin-top: 50px;

}

#statementSubtitle {
  color: var(--Neutral-colors-25, #FFF);
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

#upperNavButtons {
  position: absolute;
  top: 20px;
  right: 24px;
  display: flex;
  gap: 16px;
  z-index: 1;
}