.puntosClaveGeneralCardsEntrega {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px 0;
  flex-wrap: wrap;
  font-family: Archivo;
}

.puntoClaveEntregaCard {
  background-color: #fff;
  border: 1px solid #dddee1;
  border-radius: 20px;
  padding: 20px 14px;
  width: 350px;
  height: 180px; /* Un poco más alto por si los textos son más largos */
  text-align: left;
  display: flex;
  flex-direction: column;
}

.puntoClaveEntregaCard img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.cardPuntoTitleEntrega {
  font-size: 20px;
  padding-top: 12px;
  font-weight: 700;
  color: #1d1d1d;
}

.cardPuntoDescriptionEntrega {
  font-size: 16px;
  padding-top: 20px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
}
