/* #dashboardPage {

} */
body {
    overflow-y: hidden;
    overflow: hidden;
    overflow-y: none;
}

#dashboardPageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    margin: 1.5rem 1.5rem 1.5rem 14.5rem;
    height: 93vh;
    width: calc(100% - 14.5rem - 3rem);    
    box-sizing: border-box;
    overflow-y: hidden;
    overflow: hidden;
    overflow-y: none;
  }

#dashboardPagePresentation h1 {
    color: #FF0100;
    font-family: Archivo;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem;
}

#dashboardPagePresentation p {
    color: #18181B;
    font-family: Archivo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

#dashboardPageCards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    height: auto;
  }

  #dashboardContentColumn1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 322px; 
    flex-shrink: 0;
  }

  #dashboardContentColumn2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%; 
    flex: 1;
  }
  

  #dashboardCardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .dashboardCard {
    width: 100%;
    height: 230px;
    min-height: 230px;
    max-height: 230px;
    box-sizing: border-box;
  }
  
