/* #dashboardPage {

} */

#dashboardPageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: #FF0100 1px solid;
    margin: 1.5rem 1.5rem 1.5rem 14.5rem;
    height: 93vh;
    width: calc(100% - 14.5rem - 3rem);    
    box-sizing: border-box;
  }

#dashboardPagePresentation h1 {
    color: #FF0100;

    font-family: Archivo;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem;
}

#dashboardPagePresentation p {
    color: #18181B;

    font-family: Archivo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

#dashboardPageCards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
    height: auto;
  }

  #dashboardContentColumn1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 322px; 
    flex-shrink: 0;
  }

  #dashboardContentColumn2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  }

#dashboardContentColumn3 {
    display: flex;

    height: 100%;
    width: 50%;
    border: #18181B 1px solid;
}

#dashboardContentColumn4 {
    display: flex;

    height: 100%;
    width: 50%;
    border: #18181B 1px solid;
}