body {
    font-family: Archivo;
}

.registroInfoExtra {
    margin-left: 230px;
    margin-top: 310px;
}

.pageRegistroTitle {
  color: red;
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  line-height: 38px;
}

.puntosClaveRegistro {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 30px;
}

.tutorialesCardsRegistro{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}