.itemsRegistro {
    margin-left: 200px;
}

.pageRegistroTitle {
    color: #FF0100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.puntosClaveRegistro {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight:500;
}

.tutorialesCardsRegistro {
    margin-left: 200px;
    margin-top: 20px;
    font-weight:500;
}