.pageEntregaTitle {
  color: #ff0100;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
}

.puntosClaveEntrega {
  margin-bottom: -25px;
  font-weight: 500;
  margin-left: 200px;
}

.tutorialesCardsEntrega {
  margin-bottom: -25px;
  font-weight: 500;
  margin-left: 200px;
}
