#globalSidebar__nav {
    height: 100vh;
    width: 10vw;
    border-radius: 0rem 1.75rem 1.75rem 0rem;
    background-color: #252B37;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#projectSelection {
    width: 90%;
    height: 7vh;
}