.number {
    border-radius: 52px;
    border: 1px solid #D5D7DA;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.numbersColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.completado {
    width: 60px;
    height: 8px;
    padding: 8.5px;
    color: white;
    font-size: 10px;
    background-color: #01C764;
    border-radius: 23.176px;
}

.generalStructureDescription {
    display: flex;
    flex-direction: column;
    border: 1px solid #DDDEE1;
    background: #FFF;
    width: 300px;
    padding: 16px;
    border-radius: 18px;
}

.description{
    font-size: 14px;
    font-style: normal;
    color: #535862;
    font-weight: 600;
}

.title {
    font-size: 16px;
    font-style: normal;
    color: #01C764;
    font-weight: 600;
}

.stepsInfo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 30px 43px 30px 25px;
    gap: 25px;
    border: 1px solid #D5D7DA;
    border-radius: 28px;
    margin-top: 30px;
}

line {
    direction: 90px;
}

hr {
    width: 30px;
    position: fixed;
    transform: rotate(90deg);
    border-color: #D5D7DA;
    border-width: 1px;
}

.stepsRows {
    display: flex;
    align-items: center;
    gap: 10px;
}


.descriptionColumn {
    display: flex;
    gap: 15px;
    flex-direction: column;
}