#globalSidebar__nav {
    height: 100vh;
    width: 13vw;
    background-color: #252B37;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.sidebar__logo {
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */

    margin: 1rem 0 1rem 1.5rem;
}

#projectSelection {
    width: 90%;
    height: 7vh;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    width: 100%;
}

.sidebar__link {
    width: 90%;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #FFFFFF;
    font-family: Archivo;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 450;
    line-height: 1.25rem;
    
    gap: 0.5rem;
    height: 2.4rem;

    cursor: pointer;
}

.sidebar__link:hover  {
    background-color: #858993;
    border-radius: 0.8rem;
    transition: background-color 0.3s ease, border-radius 0.2s ease;
}

.focus {
    background-color: #FFFFFF;
    color: #252B37;
    width: 90%;
    height: 2.4rem;
    border-radius: 0.8rem;
    cursor: default;
}

.focus:hover {
    background-color: #FFFFFF;
    color: #252B37;
    width: 90%;
    height: 2.4rem;
    border-radius: 0.8rem;
    cursor: default;
}