.project-map-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.map-column {
  flex: 1 1 45%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-map img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.amenities-column {
  flex: 1 1 45%;
  border-radius: 16px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.amenities-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.amenity-row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
   border: 1px solid #ccc;
   border-radius: 16px;
   padding: 0.5rem;
}

.amenity-row img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.amenity-row p {
  margin: 0;
  font-size: 1rem;
}
