body {
    font-family: Archivo;
}

.firmaInfoExtra {
    margin-left: 230px;
    margin-top: 310px;
}

.pageFirmaTitle {
  color: red;
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  line-height: 38px;
}

.puntosClaveFirma {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 30px;
}

.tutorialesCardsFirma{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}