.project-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  margin-top: 50px;
}

.Proyect-Info {
  border: 1px solid #ccc;
  border-radius: 32px;
}


.project-details> :not(#ProjectElements) {
  flex: 1 1 10%;
}


#propertyProjectDetailsTitleIcon {
  gap: 4rem;
  margin-bottom: 1rem;
  width: 400px;
}

.Proyect-Info h3 {
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.Proyect-Info>p {
  font-family: 'Archivo', sans-serif;
  margin-bottom: 1.5rem;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
}

.Proyect-Info {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.projectElementsList {
  display: grid;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.projectElementsList p {
  font-family: 'Archivo', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}

.propertyProjectDetailsDescriptionElement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


#ProjectElements {
  flex: 1 1 34%;
  border: 1px solid #ccc;
  border-radius: 32px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectElementsImage img {
  max-width: 96%;
  height: auto;
  border-radius: 12px;
}