* {
    font-family: 'Archivo', sans-serif;
  }

#statementOfAccountCards {
  position: fixed;
  left: 50%;
  top: 18.75rem;
  display: flex;
  justify-content: center;
  gap: 9.125rem;
}





@media (max-width: 1920px) {
  #statementOfAccountCards {
    transform: translateX(-42%) scale(1.0);
  }
}

#accruedPaymentCard,
#nextInstalmentCard {
  width: 14.765rem;
  height: 14.13725rem;
  padding: 1.23456rem;
  
}

