#statementOfAccountPage {
  overflow-x: hidden;
}

.page-title-statement-account {
  color: var(--Secondary-color-Red, #FF0100);
  font-family: Archivo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 0.25rem;
  margin-left: 15.5rem;
  margin-top: 2rem;
}

#statementOfAccountCards {
  top: 18.75rem;
  display: flex;
  justify-content: center;
  gap: 9.125rem;
  margin-top: 2rem;
  margin-left: 30rem;
  width: 50rem;
}

#statementOfAccountBanner {
  width: 100%;
}

#accruedPaymentCard,
#nextInstalmentCard {
  width: 14.765rem;
  height: 14.13725rem;
  padding: 1.23456rem;

}