.bannerAprendeRegistro {
  position: absolute;
  top: 0;
  left: 13vw; 
  height: 150px;
  object-fit: cover;
  z-index: 0;
  }

  
  .bannerAprendeRegistro > img[alt="iconBack"] {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 32px;
    height: 32px;
    z-index: 2;
    cursor: pointer;
  }

  .breadCrumb {
    position: absolute;
    bottom: 20px;
    left: 40px;
    z-index: 1;
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  
  .breadCrumb .subPage {
    font-weight: 600;
  }