body {
    font-family: Archivo;
}
  
  .aprendeMargin {
    margin-left: 230px;
  }

.aprendeTitle {
    font-size: 20px;
    font-weight: semibold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .guiaSection {
    margin-top: -30px;
  }

  .articulosSection {
  margin-bottom: -60px;
  }