.common-areas {
  text-align: center;
}

.common-areas h3 {
  font-size: 30px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 38px;
}

.amenities-carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
}

.amenity-icon {
  width: 140px;
  height: 140px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.amenity-icon:hover {
  transform: scale(1.1); /* Efecto visual opcional */
}
