body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.page {
    width: 99vw;
    min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    color: #A4A7AE;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    font-weight: 300px;
}

.page {
    width: 99vw;
    min-height: 100vh;
    display: flex;
}

.progressSection {
    display: flex;
}

.page-content {
    margin-left: 209px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.subtitle {
    display: flex;
    gap: 7px;
    flex-direction: column;
}

.page-title {
    color: #FF0100;
}