#progress-time-line{
    border: none;
}

.checkSesion{
    display: flex;
    flex-direction: column;
    border: solid 1px #DDDEE1;
    border-radius: 17px;
    padding: 20px;
    gap:20px;
}

h1{
    color: #414651;
}

.check{
    color: white;
    background-color: #01C764;

}

.generalStructureCheck{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.steps{
    display: flex;
    justify-content: space-between;
}